name: Flutter Release

on:
  push:
    tags:
      - 'v*'  # Cada vez que hagas push a un tag como v16, v17, etc.

jobs:
  build-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # Necesario para crear releases
      packages: write
      actions: write

    env:
      FLUTTER_ROOT: /opt/hostedtoolcache/flutter/stable-3.38.8-x64
      PUB_CACHE: /home/runner/.pub-cache

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.8'

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Build AAB
        run: flutter build appbundle --release

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          name: Flutter Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            build/app/outputs/flutter-apk/app-release.apk
            build/app/outputs/bundle/release/app-release.aab
          token: ${{ secrets.GITHUB_TOKEN }}
